# Entorno virtual
venv/
env/
.env

# Firebase — NUNCA subir al repositorio
firebase-service-account.json

# Django
*.pyc
__pycache__/
db.sqlite3
media/
staticfiles/

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db
*.log
